<div class="card shadow p-4 col-6">

    <strong><%= @phone.model_title %></strong><br>

    <% @phone.images.each do |image| %>
      <div class="row">
        <div class="col p-1 m-2 rounded shadow">
          <div class="col-3">
            <%= image_tag(image.url, width: '300', class: 'rounded') %><br>
          </div>
          <div class="col-2">
            <%= image.identifier %>
          </div>
        </div>
      </div>
    <% end %>


  <%= link_to 'Edit', edit_phone_path(@phone), class: 'text-decoration-none' %>
  <%= link_to 'Back', phones_path, class: 'text-decoration-none' %>
</div>
