<div class="card p-4">

  <div class="row">
    <h1 class="display-6 mb-3"><%= @phone.model_title %></h1>
    <br>

    <% @phone.images.each do |image| %>
      <div class="col text-center">
        <%= image_tag(image.url, width: '300', class: 'rounded') %>
      </div>
    <% end %>
  </div>

  <div class="row mt-5 mb-2">
    <strong class="mb-3">Overview</strong>
    <div class="p-4 card shadow-sm bg-light">
      <small><%= @phone.model_overview %></small>
    </div>
  </div>

  <div class="list-inline-item mt-3">
    <%= link_to 'Edit', edit_phone_path(@phone), class: 'text-decoration-none me-2' %>
    <%= link_to 'Back', phones_path, class: 'text-decoration-none' %>
  </div>
</div>
